<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<a th:href="@{/product/create}">Create new</a>
    <ul>
        <li th:each="product : ${products}">
            <p th:text="${product.designation}"></p>
            <a th:href="@{/product/{id} (id=${product.id})}">Details</a>
            <a th:href="@{/product/update/{id} (id=${product.id})}">Update</a>
            <form th:action="@{/product/delete/{id} (id=${product.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
</body>
</html>